<html>
<head>
    <link rel="stylesheet" href="../Assets/style.css" />
    <script>
        function SubscribeToNewMessageID() {
            window.HybridMessaging.Subscribe("NewMessageID", function(stringArgument) {
                window.external.notify("'NewMessageID' received, argument is: " + stringArgument);
                return stringArgument.length;
            });
            window.external.notify("Subscribed to 'NewMessageID' message. Doing this more than once, results in multiple subscription.");
        }

        function SendMyMessageID() {
            window.HybridMessaging.SendAsync("MyMessageID", { IntValue: 10, StringValue: 'Some Javascript String' }, function() {
                window.external.notify("SENT.");
            });
        }

        function SendUnregisteredMessageID() {
            window.HybridMessaging.SendAsync("UnregisteredMessageID");
        }
    </script>
</head>
<body>
<div data-role="page" data-theme="b">
    <div class="sample">
        <label>Javascript Code:</label>
        <pre>HybridMessaging.SendAsync("UnregisteredMessageID");</pre>
        <input type="button" value="Send a 'SendUnregisteredMessageID' Message" onclick="SendUnregisteredMessageID();"/>
    </div>
    <div class="sample">
        <label>Javascript Code:</label>
        <pre>HybridMessaging.Subscribe("NewMessageID", function(stringArgument) {
    // Do something with 'stringArgument' variable
    return stringArgument.length;
});</pre>
        <input type="button" value="Subscribe to 'NewMessageID' Message" onclick="SubscribeToNewMessageID();"/>
    </div>
    <div class="sample">
        <label>Javascript Code:</label>
        <pre>HybridMessaging.SendAsync("MyMessageID", { IntValue: 10, StringValue: 'Some Javascript String' });</pre>
        <input type="button" value="Send a 'MyMessageID' Message With Complex Argument" onclick="SendMyMessageID();"/>
    </div>
</div>
</body>
</html>